.main, .content {
    display: flex;
    justify-content: center;
}

.content {
    flex-direction: column;
    align-items: center;
    font-size: 1.2em;
}

.content input, .content button {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.language {
    display: flex;
    justify-content: space-between;
    width: 12%;
}

.language img {
    width: 20px;
    border-radius: 8px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
}

[type=radio]:checked + img {
    opacity: 1;
}

[type=radio]:not(:checked) + img {
    opacity: 0.6;
}

.content input[type=search] {
    width: 80%;
}

.content button {
    background-color: #0000FF;
    width: 60%;
    font-size: 0.8em;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.result {
    display: flex;
    justify-content: center;
    width: 80%;
    min-height: 50px;
    margin-top: 15px;
    padding: 15px 15px 0 15px;
    background-color: #FFFFFF;
    border-radius: 5px 5px 0 0;
}

.content-btn {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px 2px;
    width: 80%;
    background-color: #FFFFFF;
    height: 22px;
    border-radius: 0 0 5px 5px;
}

.copy {
    display: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
}